@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.dark {
	--background-color: #000;
	--dark-color: #202327;
	--brand-color: #ea3c3c;
	--text-color: #fff; 
	--icons-text: #71767B;
}
:root{
	--background-color: #ffffff;
	--dark-color: #f0f0f0;
	--brand-color: #ea3c3c;
	--text-color: #000000;
}
#app{
	width: 100%;
	max-width: 1400px;
	margin: auto;
}
*{
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}
body{
	display: flex;
	background-color: var(--background-color);
}
.text{
	color: var(--text-color);
}
.icons-text{
    color: var(--icons-text);
}
.brand-background{
	background-color: var(--brand-color);
}
.bg-dark{
	background-color: var(--dark-color) !important;
}
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  stroke: none !important;
}
a{cursor: pointer;}